body {
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #d5dae5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header **/
header {
  background: #35475e;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #4dab7f 3px solid;
  border-radius: 10px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #4dab7f;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url("../img/vote2.jpg") no-repeat 0;
  text-align: center;
  color: #ffffff;
  background-size: cover;
  background-position: center;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* Newsletter */
#newsletter {
  padding: 5px;
  color: #ffffff;
  background: #35475e;
  border-radius: 10px;
}

#newsletter h1 {
  float: left;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 90px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer {
  padding: 5px;
  margin-top: 5px;
  color: #ffffff;
  background-color: #4dab7f;
  text-align: center;
  border-radius: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  #newsletter button,
  .quote button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"],
  .quote input,
  .quote textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}

.fotpic {
  border-left: 10%;
}
