* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #d5dae5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #38384d;
}

.navbar span.pol {
  color: #4dab7f;
  margin: 20px;
}

.navbar {
  background-color: #35475e;
  overflow: hidden;
  height: 63px;
  z-index: 3;
  border-bottom: #4dab7f 3px solid;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.dash a {
  background-color: #4dab7f;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
  font-weight: 500;
}
.navbar a:hover {
  background-color: #ddd;
  color: #000;
  border-radius: 10px;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 3;
  height: 44px;
  background-color: #fff;
  border-bottom: 3px solid #2d3d51;
}
/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
  height: 60px;
  padding: 15px;
  font-weight: 700;
}
.header .logo {
  color: #233245;
}
.side-nav .logo {
  background-color: #35475e;
  color: #fff;
}
.header .logo {
  float: left;
}
.header .logo {
  height: 44px;
  z-index: 1;
  padding: 10px;
  font-weight: 700;
  color: #233245;
}
.logo i {
  font-size: 22px;
}
.logo span {
  margin-left: 5px;
  text-transform: uppercase;
}
.nav-trigger {
  position: relative;
  float: right;
  width: 20px;
  height: 44px;
  right: 30px;
  display: block;
}
.nav-trigger span,
.nav-trigger span:before,
span:after {
  width: 20px;
  height: 2px;
  background-color: #35475e;
  position: absolute;
}
.nav-trigger span {
  top: 50%;
}
.nav-trigger span:before,
.nav-trigger span:after {
  content: "";
}
.nav-trigger span:before {
  top: -6px;
}
.nav-trigger span:after {
  top: 6px;
}

/* Sidebar subs  */
.side-nav ol li a {
  position: relative;
  text-decoration: none;
}

.side-nav li ol {
  list-style: none;
}

.side-nav li ol {
  transition: all 0.3s;
  opacity: 1;
}

/* side navigation styles */
.side-nav {
  width: 15%;
  position: absolute;
  top: 0;
  height: 812px;
  background-color: #35475e;
  display: inline-block;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  border-right: 4px solid #4dab7f;
}
.side-nav.visible {
  display: block;
}
.side-nav ul {
  margin: 0;
  padding: 0;
}
.side-nav li {
  padding: 16px 16px;
  border-bottom: 1px solid #3c506a;
  position: relative;
}

.side-nav ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.side-nav ul li i {
  color: #0497df;
  min-width: 20px;
  text-align: center;
}
.side-nav ul li span:nth-child(2) {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}

/* This is the fa-bars in the sidebar 
.fa-bars{
	position: absolute;
	padding:15px 20px 15px 15px;
	margin-top: 300px;
	color: white;
	cursor: pointer;
	background-color: #648b79;
	z-index: 1000000;
	font-size: 2em;
}
*/

/* main content styles */
.main-content {
  padding: 40px;
  margin-top: 0;
  padding: 0;
  padding-top: 44px;
  height: 750px;
  overflow: scroll;
}
.main-content .title {
  background-color: #eef1f7;
  border-bottom: 1px solid #b8bec9;
  padding: 10px 20px;
  font-weight: 700;
  color: #333;
  font-size: 18px;
}
/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
  .header {
    background-color: #35475e;
    z-index: 1;
  }
  .header .logo {
    display: none;
  }
  .nav-trigger {
    display: none;
  }
  .nav-trigger span,
  .nav-trigger span:before,
  span:after {
    background-color: #fff;
  }
  .side-nav {
    display: block;
    width: 70px;
    z-index: 2;
  }
  .side-nav ul li span:nth-child(2) {
    display: none;
  }
  .side-nav .logo i {
    padding-left: 12px;
  }
  .side-nav .logo span {
    display: none;
  }
  .side-nav ul li i {
    font-size: 26px;
  }
  .side-nav ul li a {
    text-align: center;
  }
  .main-content {
    margin-left: 70px;
  }

  .side-nav ol li i {
    font-size: 26px;
  }
  .side-nav ol li a {
    text-align: center;
  }
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
  .side-nav {
    width: 200px;
  }
  .side-nav ul li span:nth-child(2) {
    display: inline-block;
  }
  .side-nav ul li i {
    font-size: 16px;
  }
  .side-nav ul li a {
    text-align: left;
  }
  .side-nav .logo i {
    padding-left: 0;
  }
  .side-nav .logo span {
    display: inline-block;
  }
  .main-content {
    margin-left: 200px;
  }
}
/* This is for the vote buttons  */
button.vote {
  margin: 20px 10px;
  height: 40px;
  width: 70px;
  font: outline;
  cursor: -webkit-grab;
  border: 2px solid #4dab7f;
  font-size: 20px;
  font-family: Sa;
}

button.vote:hover {
  background-color: #4dab7f;
}

/* main box container */
.main {
  display: flex;
  flex-flow: row wrap;
}
.widget {
  flex-basis: 300px;
  flex-grow: 10;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
}
.widget .title {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

/*this is for candidates*/
.man {
  display: flex;
  flex-flow: row wrap;
}
.can1 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-color: #dfe4ec;
  background-image: url(./img/atiku.jpg);
  background-size: cover;
}
.can1 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.can2 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/buhari.jpeg);
  background-size: cover;
}
.can2 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.can3 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/Oby-Ezekwesili-1.jpg);
  background-size: cover;
}
.can3 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.can4 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/don.jpg);
  background-size: cover;
}
.can4 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.can5 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/ext.jpg);
  background-size: cover;
}
.can5 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.can6 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/bukola.jpg);
  background-size: cover;
}
.can6 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.can7 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/apaga.jpg);
  background-size: cover;
}
.can7 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.can8 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/buhari.jpeg);
  background-size: cover;
}
.can8 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}
.man-content {
  padding: 40px;
  margin-top: 0;
  padding: 0;
  padding-top: 44px;
  height: 750px;
  overflow: scroll;
}
.man-content .title {
  background-color: #f6eef7;
  border-bottom: 1px solid #b8bec9;
  padding: 10px 20px;
  font-weight: 700;
  color: #333;
  font-size: 18px;
}

/*This is for Parties*/
.party {
  display: flex;
  flex-flow: row wrap;
}
.pat1 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-color: blanchedalmond;
  background-image: url(./img/party.jpg);
  background-size: cover;
}
.pat1 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.pat2 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/apc.png);
  background-size: cover;
}
.pat2 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.pat3 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/ypp.png);
  background-size: cover;
}
.pat3 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.pat4 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/LPN.png);
  background-size: cover;
}
.pat4 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.pat5 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/afc.jpg);
  background-size: cover;
}
.pat5 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.pat6 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/lb.jpg);
  background-size: cover;
}
.pat6 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.pat7 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/APGA-Logo.jpg);
  background-size: cover;
}
.pat7 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.pat8 {
  flex-basis: 300px;
  flex-grow: 40;
  height: 300px;
  margin: 15px;
  border-radius: 6px;
  background-image: url(./img/Progressive-Peoples-Alliance-PPA.png);
  background-size: cover;
}
.pat8 .tit {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}
.man-content {
  padding: 40px;
  margin-top: 0;
  padding: 0;
  padding-top: 44px;
  height: 750px;
  overflow: scroll;
}
.man-content .title {
  background-color: #f6eef7;
  border-bottom: 1px solid #b8bec9;
  padding: 10px 20px;
  font-weight: 700;
  color: #333;
  font-size: 18px;
}

footer {
  padding: 5px;
  margin-top: 5px;
  color: #ffffff;
  background-color: #4dab7f;
  text-align: center;
  border-radius: 1px;
}


/*Tthis is for the create page*/

.table-container {
  display: grid;
  margin: 20px auto;
  overflow-x: auto;
  width: 95%;
}

.table-container table {
  width: 100%;
  margin: 0 auto;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #16161d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table-caption {
  background: rgb(68, 160, 141);
  color: #fff;
  font-size: 200;
  font-weight: bold;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  border: none;
}

thead {
  background: #f0f0f2;
  color: rgb(18, 71, 61);
  font-size: 0.8rem;
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background: black;
}

th,
td {
  padding: 20px 35px;
  vertical-align: middle;
  background-color: white;
}

th {
  border-bottom: 1px solid #cecfd5;
  border-left: 1px solid #cecfd5;
}

th:last-child {
  border-right: 1px solid #cecfd5;
}


td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}

td:first-child {
  border-left: 1px solid #cecfd5;
}

.candidate-name {
  color: black;
  display: block;
  text-align: left;
}



.text-offset {
  color: black;
  display: block;
  font-size: 12px;
  text-align: left;
}

/* 
     This is for the BUTTONS attributes
    */

.btn {
  color: #fff;
  cursor: pointer;
  padding: 0.8rem 0.6rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 100%;
  font-weight: 600;
  text-align: center;
}

.btn-green {
  background: #07743b;
}

.btn-primary {
  background: rgb(68, 160, 141);
  border-color: rgb(47, 51, 92);
}

.edit{
  background: grey;
}
.delete {
  background: #d9534f;
}



/* 
    This is for the FORM attribute 
    */

.form {
  border: 0;
  border-radius: 10px;
  position: relative;
  width: 80%;
  text-align: center;
}



.form-field {
  display: flex;
  flex-direction: column;
  padding: 2rem 0.8rem;
}

input,
select {
  font-size: 100%;
  background: #fff;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #798786 inset;
  -moz-box-shadow: 0 0 5px #798786 inset;
  box-shadow: 0 0 3px #798786 inset;
  padding: 0.8rem 0.5rem;
  color: black;
  margin-bottom: 1rem;
  cursor: pointer;
}

input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}




label {
  text-align: left;
  font-weight: 500;
  line-height: 30px;
}
